<a href="https://colab.research.google.com/github/hetvi-sodagar/bootcamp/blob/main/HU_DS_May_June.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b>May 27th Notes</b>
# <b>Big title </b>
## **Substitle or section title**
### *subsection*
#### another section
##### smallest section title

```
print("I am an HBCU Scholar!")
```

$$\sum_{n=1}^{10} \log \frac{6n+7j}{3n}$$

* This is some bullet text
* Adding additional text
* last point of interest

In [ ]:
# Let's create first print statement
print("Hello, World!")

Hello, World!

In [ ]:
#Let's print the value of pi from the math module
# import the math module
import math
#print the value of pi from the math module
print(math.pi)

3.141592653589793

In [ ]:
# create a variable with the value of pi from the math module
pi = math.pi

In [ ]:
# print the value stored in the variable pi
print(pi)

3.141592653589793

In [ ]:
#print the value stored in pi
pi

3.141592653589793

In [ ]:
""" Let's print the statement the value of pi is
with the value stored in the variable pi. """
print(" The value of pi is: ", pi)

 The value of pi is:  3.141592653589793

In [ ]:
""" Let's print the statement the value of pi is
with the value stored in the variable pi. """
print(" The value of pi is: \n", pi)

 The value of pi is:
 3.141592653589793

In [ ]:
#using input statement
name = input(print("Please enter your first name:"))
print(name)

In [ ]:
name = "Hetvi"
age = "16"
print("My name is:", name, "and I am:", age, "years old.")

My name is: Hetvi and I am: 16 years old.

In [ ]:
name = input(print("What is your name:"))
age = input(print("What is your age?"))
print("My name is:", name, "and I am:", age, "years old.")

What is your name:
NoneHetvi
What is your age?
None16
My name is: Hetvi and I am: 16 years old.

# <b>May 28th Notes</b>

In [ ]:
a = -12
b = 5.7
c = 2

a,b,c

(-12, 5.7, 2)

In [ ]:
# addition + operator
print("a + b = ", a+b)
print("b + a = ", b+a)

a + b =  -6.3
b + a =  -6.3

In [ ]:
# subtraction - operator
print("a - b = ", a-b)
print("b - a = ", b-a)

a - b =  -17.7
b - a =  17.7

In [ ]:
# multiplication * operator
print("a * b = ", a*b)

a * b =  -68.4

In [ ]:
# exponents ** operator
a = 2
b = 5
print("a ** b = ", a**b)
print("b ** a = ", b**a)

a ** b =  32
b ** a =  25

In [ ]:
# division / operator
print(" a / b = ", a/b)
print(" b / a = ", b/a)

 a / b =  -2.1052631578947367
 b / a =  -0.47500000000000003

In [ ]:
# divsion // operator
a = 12
b = 5
print(" a // b = ", a//b)

 a // b =  2

In [ ]:
name = "Hetvi"
age = "16"
print("My name is", name, "and I am", age, "years old." )

My name is Hetvi and I am 16 years old.

In [ ]:
print(f"My name is {name} and I am {age} years old.")

My name is Hetvi and I am 16 years old.

In [ ]:
# Equal to "==" operator
a = 5
b = 5
c=7
print ("a == b is", a==b)
print("a == c is", a==c)

a == b is True
a == c is False

In [ ]:
a = 5
b = -5
c= a - b
d = b - a
print ("a - b is", c)
print("b - a is", d)

print("Is a - b equal to b - a?", c == d)

a - b is 10
b - a is -10
Is a - b equal to b - a? False

200 + (17 * (2^7 -(2*6)))/4

In [ ]:
# Pemdas
200 + (17 * (2**7 - (2*6)))/4

693.0

In [ ]:
200 + 17 * 2 ** 7 - 2 * 6 / 4

2373.0

In [ ]:
# "%" operator
"""(it gives you the remainder so 6/3- no remainders
and 3/6- 3 remainder since 3 is at the top)"""
a = 6
b = 3
print("a % b = ", a%b)
print("b % a =", b%a)

a % b =  0
b % a = 3

In [ ]:
# we only want to find values that are divisible by 2
x = 5
print(" x % 2 = ", x%2)

 x % 2 =  1

# <b>May 30 Notes </b>

Boolean is either true or false 1 or 0  and equal to is "=="

Not equal to is "!="

In [ ]:
if 7 != 10:
  print("The above statement is true")
print("This is not related to the if statement")

The above statement is true
This is not related to the if statement

In [ ]:
grade = 90
if grade > 70:
  print("Congrats you passed the class")
if grade < 70:
  print("Sorry you didn't pass the class")

Congrats you passed the class

In [ ]:
my_bool = True
if my_bool:
  print("The value of my_bool is true")
else:
  print("The value of my_bool is false")

The value of my_bool is true

In [ ]:
if True and True:
  print("True")

True

#<b> June 2nd Notes </b>

While loop: runs as long as a conditioj is true

must declare a counting variable

must increment the counting variable

For loop: runs a predetermined amount of times

counting variable is automatically declares

In [ ]:
count = 0 # count variable
while count < 5:
  print ("Hello")
  count = count + 1

Hello
Hello
Hello
Hello
Hello

Enter numbers to sum, enter q to quit > 1

Enter numbers to sum, enter q to quit > 2

Enter numbers to sum, enter q to quit > 3

Enter numbers to sum, enter q to quit > 4

Enter numbers to sum, enter q to quit > q 10

# <b> June 3rd notes</b>

In [9]:
for i in range (8):
    for j in range (8):
      if i % 2 == 0: # Check if the row is even
          if j % 2 == 0: # Check if the column is even
              print ("X", end ="")
          else:
              print("O", end="")
      else : # If the row is odd
          if j % 2 == 0: # Check if the column is even
              print("O", end="")
          else:
              print("X", end="")
    print()

XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX